.header {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
}

img{
    width: 250px;
    margin-top: 20px;
    margin-left: -10px;
}


.list-items {
    margin-top: -75px;
    display: flex;
    list-style: none;
    gap: 3.5rem;
}



.list-items li a {
    
    text-decoration: none;
    text-transform: uppercase;
    color:  var(--clr-glass);
    font-size: clamp(.5rem,.5vw + .5rem,3.5rem);
}

.list-items li a:hover,.list-items li a:focus {
    color: rgb(245, 222, 179);
}




.close-icon {
    display: none;
    margin-top: 70px;
}


.hamburger-icon .icon{
    color: hsl(var(--clr-glass));
    font-size: clamp(1rem,4vw + 1rem,4rem);
    cursor: pointer;
    display: none;
    margin-top: -70px;
}


@media (max-width:50em) {
    .list-items {
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        background-color: hsla(0, 2%, 18%, 0.263);
        backdrop-filter: blur(1rem);
        inset: 0 0 0 30%;
        transform: translateX(100%);
        transition: 5000ms;
    }
    
    .list-items li a {
        color: hsla(var(--clr-white));
        font-size: clamp(.1rem,1vw + .5rem,3.5rem);
    }
    .list-items.active {
        transform: translateX(0);
        transition: 5000ms;
    }
    .close-icon {
          display: block;
        position: absolute;
        left: 2%;
        top: 2%;
        cursor: pointer;
        color: var(--clr-white);
    } 
    .hamburger-icon .icon {
        display: block;
    }
 
}

/* .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: .4rem;
}

img{
    width: 250px;
    margin-top: 20px;
    margin-left: -10px;
}

.list-items {
    display: flex;
    list-style: none;
    gap: 3.5rem;
}

.list-items li a {
    text-transform: uppercase;
    text-decoration: none;
    color: hsl(var(--clr-glass));
    font-size: clamp(.5rem,.5vw + .5rem, 3.5rem);
}

.list-items li a:hover , .list-items li a:focus {
    color: var(--clr-white);
}

.close-icon {
    display: none;
}

.hamburger-icon .icon {
    color: hsl(var(--clr-glass));
    font-size: clamp(1rem,4vw + 1rem,4rem);
    cursor: pointer;
    display: none;
}

@media (max-width:50em) {
    .list-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        background-color: hsl(0,2,18,0.263);
        backdrop-filter: blur(1rem);
        position: fixed;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        transition: 500ms;
    }

    .list-items active {
        transform: translateX(0);
        transition: 500ms;
    }

    .list-items li a {
        color: var(--clr-white);
        font-size: clamp(1rem, 1vw + .5rem,3.5rem);
    }

    .close-icon {
        display: block;
        position: absolute;
        left: 2%;
        top: 2%;
        cursor: pointer;
        color: var(--clr-white);
        
    }

    .hamburger-icon .icon {
        display: block;
    }
}
 */
