* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--clr-white);
}

img,picture {
  max-width: 100%;
}

:root {
  --clr-white:rgb(222, 225, 236);
  --clr-black:rgb(0, 0, 0);
  --clr-section:rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.308);
  --clr-glass: rgb(138, 233, 146);
  --clr-glass-light:19, 77%, 83%, 0.345;
  --clr-glass-dark:39,47%, 89%, 0.110;
  --clr-glass-font:39,47%, 89%, 0.210;
  --clr-glass-blank:0, 0%, 0%,0.062;
}